assets/*
!assets/.gitignore
protected/runtime/*
!protected/runtime/.gitignore
protected/data/*.db
themes/classic/views/
/appSennovalab/web/assets
/appServiser/web/assets
/appServiserAdmin/web/assets
vagrant/
environments/
Vagrantfile
yii_test
yii_test.bat
